#logo {
    width:300px;
}

.container {
      display: flex;
      justify-content: center;
    }

main {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 10px;
}

.results {
    font-weight:bold;
    margin: 20px;
}

.won {
    color: green;
}

.lose {
    color:red;
}
